name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        # Convertir à la fois le nom du repo et le nom d'utilisateur en minuscules
        repo_name=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        owner_name=$(echo "${{ github.actor }}" | tr '[:upper:]' '[:lower:]')
        docker build -t ghcr.io/$owner_name/$repo_name:latest .

    - name: Push Docker image
      run: |
        # Convertir à la fois le nom du repo et le nom d'utilisateur en minuscules
        repo_name=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        owner_name=$(echo "${{ github.actor }}" | tr '[:upper:]' '[:lower:]')
        docker push ghcr.io/$owner_name/$repo_name:latest
