name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        repo_name=$(echo "ue19-lab-05" | tr '[:upper:]' '[:lower:]')  # convert repo name to lowercase
        docker build -t ghcr.io/azazel1005/$repo_name:latest .
        docker push ghcr.io/azazel1005/$repo_name:latest
