name: Docker Image CI

on:
  push:
    branches:
      - main  # Le workflow se déclenche lors des push sur la branche 'main'
  pull_request:
    branches:
      - main  # Le workflow se déclenche lors des pull requests vers la branche 'main'

permissions:
  contents: read  # Accès en lecture au code source
  packages: write  # Permet d'écrire dans le registre de conteneurs (GHCR)

jobs:
  build:
    runs-on: ubuntu-latest  # Utilisation de l'environnement Ubuntu pour exécuter le workflow

    steps:
      # Étape 1: Checkout du code
      - name: Checkout code
        uses: actions/checkout@v2

      # Étape 2: Configuration de Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # Étape 3: Connexion à GitHub Container Registry (GHCR)
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io  # Connexion à GitHub Container Registry
          username: ${{ github.actor }}  # Utilisation de l'authentification GitHub
          password: ${{ secrets.GITHUB_TOKEN }}  # Utilisation du token GitHub généré automatiquement pour le repository

      # Étape 4: Construction de l'image Docker et push vers GHCR
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .  # Dossier du contexte de build (répertoire où se trouve le Dockerfile)
          push: true  # Permet de pousser l'image après la construction
          tags: ghcr.io/azazel1005/ue19-lab-05:latest  # Tag de l'image à publier dans le registre GHCR

      # Étape 5: Nettoyage
      - name: Remove intermediate images
        run: docker system prune -f
