name: Build, Scan and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/azazel1005/ue19-lab-05:latest

      - name: Scan the container image for vulnerabilities
        uses: aquasecurity/trivy-action@v0.28.0
        with:
          version: 'v0.57.1'
